div.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid rgb(202, 93, 111);
}

/* div.header > div.buttons > button {
    font-size: 14px;
    background-color: rgba(0,0,0,0.1);
    border: 0;
    cursor: pointer;
} */