div.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 20px 10px;
    border-bottom: 5px solid rgba(202, 93, 111, 0.5);
}

div.header > div.title > span {
    font-size: 25px;
    font-weight: bold;
}

div.header > div.buttons {
    display: flex;
    flex-direction: row;
}

div.header > div.buttons > button {
    font-weight: bold;
    margin: 5px;
    box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
    border: 0;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

div.header > div.buttons > button.addBtn {
    font-size: 15px;
}

div.header > div.buttons > button.delBtn {
    font-size: 20px;
}