.wrap {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid whitesmoke;
}

.switch {
    border: 2px black;
}

.on{
    border: 1px yellow;
    background-color: yellow;
}

.off {
    border: 1px whitesmoke;
    background-color: whitesmoke;
}