div.list-item {
    border-bottom: 0.1px solid rgb(61, 61, 61);
    padding: 20px 0;
    margin-right: 25px;
}

div.list-item > div.title {
    font-size: 18px;
    min-height: 30px;
    max-height: 30px;
}

div.list-item > div.list-item-contents {
    font-size: 13px;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    color: rgb(94, 92, 92);
}

div.active{
    font-size: 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}