div.note {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

div.note > input.title {
    width: 95%;
    max-height: 1%;
    min-height: 1%;
    overflow: hidden;
    padding: 1% 1%;
    border: 0;
}

div.note > textarea.note-contents {
    max-width: 95%;
    min-width: 95%;
    min-height: 50%;
    height: auto;
    padding: 1% 1%;
    margin-top: 1%;
    border: 0;
}

div.note > input.title :focus {
    border: none;
}